<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indiandesigns.fabcut">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application
        android:name=".MvpApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indiandesigns.fabcut.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.leader.follower.details.FollowerDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.follower.FollowerActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.leader.jobs.LeaderJobsActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.leader.jobs.parts.BundlePartsActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.leader.LeaderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>